<div class="info-icons-container">
    <div class="info-icon-element">
        <p class="label">Duration</p>
        <img [src]="'../../../../assets/info-box/' + label_1 + '.png'">
        <p>{{value_1}}</p>
    </div>
    <div class="info-icon-element">
        <p class="label">calories burnt</p>
        <img [src]="'../../../../assets/info-box/' + label_2 + '.png'">
        <p>{{value_2}}</p>
    </div>
    <div class="info-icon-element">
        <p class="label">heart rate</p>
        <img [src]="'../../../../assets/info-box/' + label_3 + '.png'">
        <p>{{value_3}}</p>
    </div>
</div>
