<div class="mobile-body">
    <h1>Nutrition</h1>
    <div class="info-box">
        <h1 class="info-box-item">{{calories}}<span>&nbsp;kcal</span></h1>
        <app-percentage-bar class="info-box-item" style="margin-top: 0;"
            [completed]="calories" [goal]="2100" 
            bar_color="#FED483">
        </app-percentage-bar>
        <app-info-icons class="info-box-item icons"
            label_1="protein"
            label_2="carbohydrates"
            label_3="fat"
            [value_1]='protein+" grams"'
            [value_2]='carbs+" grams"'
            [value_3]='fat+" grams"'
        ></app-info-icons>
        <div class="meals">
            <app-meal *ngFor="let meal of meals" (completed_pressed)="addMeal($event)" [calories]=meal.calories [type]=meal.type [ingredients]=meal.ingredients [completed]=meal.completed></app-meal>
            <div class="add-meal"><p>+ Add meal</p></div>
        </div>
    </div>
    <app-graph color="#FED483" [info]="info"></app-graph>
</div>
