<div id="nav-container">
    <nav id="nav-bar">
        <a routerLink="nutrition" routerLinkActive="active" [ngClass]="{'active': isActive('/nutrition')}">
          <div>
            <img src="../../../../assets/nav-bar/nutrition.png" alt="apple icon">
            <p>Nutrition</p>
          </div>
        </a>
        <a routerLink="activity" routerLinkActive="active" [ngClass]="{'active': isActive('/activity')}">
          <div>
            <img src="../../../../assets/nav-bar/activity.png" alt="human running icon">
            <p>Activity</p>
          </div>
        </a>
        <a routerLink="sleep" routerLinkActive="active" [ngClass]="{'active': isActive('/sleep')}">
          <div>
            <img src="../../../../assets/nav-bar/sleep.png" alt="moon icon">
            <p>Sleep</p>
          </div>
        </a>
        <a routerLink="weight" routerLinkActive="active" [ngClass]="{'active': isActive('/weight')}">
          <div>
            <img src="../../../../assets/nav-bar/weight.png" alt="scale icon">
            <p>Weight</p>
          </div>
        </a>
    </nav>
</div>
<router-outlet></router-outlet>