.icons {
  padding-bottom: 5%;
  border-bottom: 1px solid #ababab;
}

.meals {
  margin-top: 2%;

  .add-meal {
    border-radius: 10px;
    background-color: #282828;
    padding: 2%;
    width: 35%;

    p {
      margin: 0;
      padding: 3%;
    }
  }
}

.pop-up {
  width: 80%;
  height: 30%;
  position: fixed;
  padding: 5%;
  top: 20%;
  left: 10%;
  border-radius: 10px;
  background-color: black;
  z-index: 1000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation: slideInAnimation 0.8s ease-in-out;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button{
    background-color: #363636;
    width: 50%;
    border-radius: 10px;
    border: 0px;
    color: #F2EEE9;
    font-weight: 600;
  }
}
