.box {
  text-align: center;
  margin-bottom: 2%;
}

.big-text {
  font-size: xx-large;
  font-weight: 700;
}

.icon-text {
  font-size: medium;
  font-weight: 600;
  margin: 1%;
}

.icon-and-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-text {
  margin-top: 2%;
  font-size: small;
  font-weight: 600;
  padding: 2%;
  border-radius: 10px;
  background: #515151;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
