.box {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  width: 300px;
}

.big-text {
  margin-bottom: 20px;
  width: 116px;
  height: 32px;
  flex-shrink: 0;
  color: #f2eee9;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icon-text {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.goal-value {
  width: 79px;
  height: 12px;
  flex-shrink: 0;
  color: #f2eee9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

.icon-and-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-text {
  margin-top: 10px;
  color: #f2eee9;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  padding: 8px 12px; /* Adjust padding as needed */
  border-radius: 10px;
  background: #515151;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #ffffff; /* Text color */
}
