<div class="mobile-body">
    <h1>Nutrition</h1>
    <div class="info-box">
        <div *ngIf="goal_completed && show_notification" class="notification">
            <p>🎉 Congratulations! You have completed your daily steps goal. Keep up the good work.</p>
        </div>
        <h1 class="info-box-item">{{steps}}<span>&nbsp;steps</span></h1>
        <app-percentage-bar class="info-box-item" style="margin-top: 0;"
            [completed]="steps" [goal]="goal" 
            bar_color="#A2CD81">
        </app-percentage-bar>
        <app-info-icons class="info-box-item"
            label_1="duration"
            label_2="calories burnt"
            label_3="heart rate"
            [value_1]="duration+' min'"
            [value_2]="kcal+' kcal'"
            [value_3]="heart_rate+' bpm'"
        ></app-info-icons>
        <app-secondary-info class="info-box-item"
            label_1 = "distance covered :"
            [value_1]="distance+' km'"
            label_2 = "total calories burnt :"
            [value_2]="total_cal+' kcal'"
        ></app-secondary-info>
    </div>
    <app-graph color="#A2CD81" [info]="info"></app-graph>
</div>
