.box {
  margin-top: 3%;


  .line-with-texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .text-left {
    color: #ababab;
    font-size: medium;
    font-weight: 600;
  }
  .text-right {
    font-size: medium;
    font-weight: 600;
  }
  .text-right2 {
    font-size: small;
    font-weight: 500;
  }
  .text-left2 {
    color: #ababab;
    font-size: small;
    font-weight: 500;
  }
  .progress-bar {
    width: 100%;
    height: 2vh; 
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) -120.43%,
      #ac7afb 100%
    );
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .pointer {
    width: 3%;
    height: 4vh;
    border-radius: 10px;
    background: #f2eee9;
    position: absolute;
    top: -50%;
  }
}
